Atenção a Rota Lucrativa não se responsabiliza caso seu produto não seja entregue ou caso chegue ao set destino danificado.</p>
<p>
Rafael Rodrigues</br>
E-mail: rafael@gmail.com
</p>
<p>
Denis Benevolo</br>
E-mail: denis@gmail.com
</p>
<p>
Georgette Dona </br>
E-mail: Dona@gmail.com
</p>

<p>
Ou através de (11)12345-6789 
</p>
