<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @statusentrega.status %>
</p>


<%= link_to 'Edit', edit_statusentrega_path(@statusentrega) %> |
<%= link_to 'Back', statusentregas_path %>
